<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAIT HEALTH</title>
    <link rel="stylesheet" href="/static/home1.css">
</head>

<body>

    <header>
        <a href="home1.html"><h1 class="logo"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAI1JREFUWEft11EKgCAQhOHfk9XNqpvVyYogewhiVAoWGV/ddPrYxBLBRgqWh24CzcAkdBfgrKsarUIOpJgtZKEs4K9M9UJ4odKTdQQG8bYbsCqRa/7e9ym0Fy7wddmdw4FeaC2kes5C/QiFOxgVbZ73BU1JWchCvsKqHrDQ30Kl61fXtf51VG9U+kC4QAcyhTYlIZkZcgAAAABJRU5ErkJggg=="/>
        GaitHealth</h1></a>
    </header>
    
        <div class="text-sci">
    <nav>
        <a href="#about">About Us</a>
        <a href="#services">Services</a>
        <a href="#contact">Contact</a>
        <a href="signin.html">Sign In</a> 
        <a href="signup.html">Sign Up</a>
    </nav>

    <section id="about">
        <h2>About Us</h2>
        <p>Welcome to the GaitHealth, where we are dedicated to providing high quality gait exraction features. Gait analysis is an emerging field in healthcare that holds great promise for early detection and monitoring of various health problems. This abstract provides an overview of the significance and applications of gait analysis in detecting and managing health issues, emphasizing its potential as a non-invasive and cost-effective diagnostic tool.

            The human gait, characterized by the pattern of walking and movement, is a reflection of an individual's overall health and physical well-being. Abnormalities in gait can often be indicative of underlying medical conditions such as musculoskeletal disorders, neurological diseases, cardiovascular problems, and even mental health issues. By employing advanced technologies like wearable sensors, motion capture systems, and artificial intelligence algorithms, gait analysis has become a valuable tool for clinicians and researchers alike.
            </p>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Gait-Disorders Probability Prediction:</li>
                <ul>
                    <li>*    Parkinson's Disease</li>
                    <li>*    Arthritis</li>
                </ul>
            <li> Expert suggestions</li>
        </ul>
    </section>


    <section id="contact">
        <h2>Contact Us</h2>
        <p>Address: Rajagiri Valley, Kakkanad - 682039</p>
        <p>Email: miniproject325@gmail.com</p>
        <p>Phone: (91) 7902514904</p>
    </section>

    <footer>
        <p>&copy; 2023 GAIT HEALTH. All rights reserved.</p>
    </footer>

</body>

</html>
