{% block content %}
{% load static %}

{% include 'header.html' %}

  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1>WELCOME TO USER DASHBOARD</h1>
            <a href="logout">Logout</a>
          </div>
        </div>
      
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Contact Star /-->
 
  <!--/ Contact End /-->

{% include 'footer.html' %}

{% endblock %}